Repository byronmejia/byronmejia.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc

Is Nice
  package.json
  src/components/home/logo.ts
  src/components/home/logo.tsx
  src/components/home/profile.tsx
  src/components/ui/button/button.group.ts
  src/components/ui/button/button.ts
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc

Add; GA Tracking
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

Fix travis
  .travis.yml
Due: none

fixup! Fix travis
  .travis.yml
Due: none

Add: Styled components gatsby plugin
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

Add: a11y & safety
  src/components/home/profile.tsx
Due: none

fix(seo): add keywords and description
  src/pages/index.tsx
Due: none

Add: Basic Blog Layout
  .lintstagedrc.json
  src/components/blog/blog-preview.component.tsx
  src/components/blog/blog-preview.model.ts
  src/pages/blog/index.tsx
  src/templates/blog-post.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc

config(tslint): add stricter linting rules
  src/pages/blog/index.tsx
  tslint.json
Due: prettier --parser json --write --config ./.prettierrc

refactor(profile): moved to index page
  src/components/home/profile.ts
  src/components/home/profile.tsx
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

Add: Info about me
  .gitattributes
  src/components/layouts/columns.tsx
  src/components/layouts/home.ts
  src/images/profile.png
  src/images/who-am-i.png
  src/pages/index.tsx
  src/styles/theme.ts
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

Fix Copy, add ignores, slowly implementing blog
  .gitignore
  .idea/byronmejia.github.io.iml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  gatsby-config.js
  src/components/home/logo.ts
  src/components/ui/nav/top-nav.tsx
  src/layouts/menu.layout.tsx
  src/pages/index.tsx
  src/styles/theme.ts
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

Update Icon Drop
  src/components/ui/button-icon/button-icon.ts
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

Icon should be darker
  src/components/ui/button-icon/button-icon.ts
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

More obvious shadown & Change Github to 'Code'
  src/components/ui/button-icon/button-icon.ts
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

update copy
  src/pages/index.tsx
Due: none

Big massive style up
  src/components/atomics/button-icon/button-icon.ts
  src/components/atomics/button/button.group.ts
  src/components/atomics/button/button.ts
  src/components/atomics/seo.tsx
  src/components/atomics/typography/header.main.ts
  src/components/atomics/typography/paragraph.ts
  src/components/layouts/home.ts
  src/components/ui/nav/bottom-nav.tsx
  src/components/ui/nav/nav-list-item.ts
  src/components/ui/nav/nav-list.ts
  src/components/ui/nav/nav.ts
  src/components/ui/nav/top-nav.tsx
  src/layouts/menu.layout.tsx
  src/layouts/site-menu-links-query.ts
  src/pages/404.tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/styles/global.ts
  src/styles/theme.ts
  src/templates/blog-post.tsx
  src/typings.d.ts
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

Add Blog etc
  src/components/blog/blog-preview.component.tsx
  src/components/blog/blog-preview.model.ts
  src/components/ui/nav/bottom-nav.tsx
  src/components/ui/nav/top-nav.tsx
  src/layouts/main-layout.tsx
  src/layouts/menu.layout.tsx
  src/pages/blog/2017-03-29-hello-world/index.md
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/styles/global.ts
  src/templates/blog-post.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

Stars ?
  package.json
  src/components/stars/stars.tsx
  src/pages/index.tsx
  yarn.lock
Due: prettier --parser json --write --config ./.prettierrc

Add learn more, remove stars
  src/components/atomics/button-icon/button-icon.ts
  src/components/atomics/button/button.group.ts
  src/components/stars/stars.tsx
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix

chore: remove webstorm time of me
  .idea/byronmejia.github.io.iml
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

Restart
  byron-mejia/.gitignore
  byron-mejia/README.md
  byron-mejia/gatsby-config.ts
  byron-mejia/package.json
  byron-mejia/src/images/icon.png
  byron-mejia/src/pages/404.tsx
  byron-mejia/src/pages/index.tsx
  byron-mejia/tsconfig.json
  byron-mejia/yarn.lock
  gatsby-config.js
  package.json
Due: prettier --parser typescript --write --config ./.prettierrc, tslint --project ./tsconfig.json --config ./tslint.json --fix, prettier --parser json --write --config ./.prettierrc

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc: any of: *.ts
  tslint --project ./tsconfig.json --config ./tslint.json --fix: any of: *.ts
  prettier --parser json --write --config ./.prettierrc: any of: *.json
